body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #dad8d8;
}

.quemsomos{
    background-color: #e7e7e4;
    color: gray;
}

.margin{
    padding-top: 20px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #dad8d8;
    color: gray;
}

.servicos{
    background-color: #e7e7e4;
    color: gray;
}

.rounded-circle{
    padding-bottom: 5px;
}

.text1{
    padding-top: 10px;
}

.text2{
    padding-bottom: 10px;
}

.text3{
    padding-bottom: 10px;
}

.text4{
    padding-bottom: 10px;
}

.bg-footer{
    background-color: #e7e7e4;
    color: gray;
    padding-bottom: 20px;
}
